:root {
  /* Define variables */
  --ghost-white: #f7f7ffff;
  --jonquil: #f9c80eff;
  --rich-black: #00171fff;
  --red-cmyk: #ee2e31ff;
  --davys-gray: #50514fff;

  /* Define gradient */
  --gradient-top: linear-gradient(
    0deg,
    var(--ghost-white),
    var(--jonquil),
    var(--rich-black),
    var(--red-cmyk),
    var(--davys-gray)
  );
  --gradient-right: linear-gradient(
    90deg,
    var(--ghost-white),
    var(--jonquil),
    var(--rich-black),
    var(--red-cmyk),
    var(--davys-gray)
  );
  --gradient-bottom: linear-gradient(
    180deg,
    var(--ghost-white),
    var(--jonquil),
    var(--rich-black),
    var(--red-cmyk),
    var(--davys-gray)
  );
  --gradient-left: linear-gradient(
    270deg,
    var(--ghost-white),
    var(--jonquil),
    var(--rich-black),
    var(--red-cmyk),
    var(--davys-gray)
  );
  --gradient-top-right: linear-gradient(
    45deg,
    var(--ghost-white),
    var(--jonquil),
    var(--rich-black),
    var(--red-cmyk),
    var(--davys-gray)
  );
  --gradient-bottom-right: linear-gradient(
    135deg,
    var(--ghost-white),
    var(--jonquil),
    var(--rich-black),
    var(--red-cmyk),
    var(--davys-gray)
  );
  --gradient-top-left: linear-gradient(
    225deg,
    var(--ghost-white),
    var(--jonquil),
    var(--rich-black),
    var(--red-cmyk),
    var(--davys-gray)
  );
  --gradient-bottom-left: linear-gradient(
    315deg,
    var(--ghost-white),
    var(--jonquil),
    var(--rich-black),
    var(--red-cmyk),
    var(--davys-gray)
  );
  --gradient-radial: radial-gradient(
    var(--ghost-white),
    var(--jonquil),
    var(--rich-black),
    var(--red-cmyk),
    var(--davys-gray)
  );
  --gradient-ghost-white-jonquil: linear-gradient(
    180deg,
    var(--ghost-white),
    var(--jonquil)
  );
  --gradient-ghost-white-rich-black: linear-gradient(
    0deg,
    var(--ghost-white),
    var(--rich-black)
  );
  --gradient-ghost-white-red-cmyk: linear-gradient(
    330deg,
    var(--ghost-white),
    var(--red-cmyk)
  );
  --gradient-white-red: linear-gradient(
    315deg,
    var(--ghost-white),
    var(--red-cmyk)
  );
  --gradient-ghost-white-davys-gray: linear-gradient(
    0deg,
    var(--ghost-white),
    var(--davys-gray)
  );
  --gradient-jonquil-rich-black: linear-gradient(
    180deg,
    var(--jonquil),
    var(--rich-black)
  );
  --gradient-jonquil-red-cmyk: linear-gradient(
    180deg,
    var(--jonquil),
    var(--red-cmyk)
  );
  --gradient-jonquil-davys-gray: linear-gradient(
    180deg,
    var(--jonquil),
    var(--davys-gray)
  );
  --gradient-rich-black-red-cmyk: linear-gradient(
    180deg,
    var(--rich-black),
    var(--red-cmyk)
  );
  --gradient-rich-black-davys-gray: linear-gradient(
    180deg,
    var(--rich-black),
    var(--davys-gray)
  );
  --gradient-red-cmyk-davys-gray: linear-gradient(
    180deg,
    var(--red-cmyk),
    var(--davys-gray)
  );
}

body,
html {
  height: 100%;
  background-image: var(--gradient-ghost-white-rich-black);
}

#search-bar {
  vertical-align: middle;
  margin-bottom: 0;
  box-sizing: border-box;
  border: 2px solid var(--jonquil);
}

#search-bar:focus {
  outline: none; /* Remove default outline */
  box-shadow: 0 0 10px 3px var(--red-cmyk); /* Add red glow outline */
}

.up-next-container {
  background-image: var(--gradient-rich-black-davys-gray);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header-target {
  background-image: var(--gradient-white-red);
  color: var(--ghost-white);
  position: relative;
}

.header-target::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px; /* Height of the border */
  background: var(--gradient-jonquil-davys-gray); /* Background gradient */
}

.title {
  color: var(--ghost-white);
  text-shadow: 2px 2px 4px var(--rich-black);
}

/* Styling for up-next container */
.up-next-container {
  background-color: var(--rich-black);

  .upnext-image {
    width: 100px;
  }

  .description {
    overflow-y: auto;
    max-height: 75px;
    font-size: 0.8em;
  }

  .streaming-list-header {
    font-size: 0.9em;
    text-transform: uppercase;
  }

  .streaming-list {
    li {
      display: inline-block;
      border-right: 1px solid #ccc;
      padding: 0 10px;
    }
    li:last-child {
      border-right: none;
    }
  }
}

#search-button {
  margin-bottom: 0;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: var(--red-cmyk);
  color: var(--ghost-white);
  border: 2px solid var(--jonquil);
  padding: 0.525rem 1rem;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-image 0.3s ease;
}

#search-button:hover {
  filter: brightness(90%);
}

#search-button:active {
  box-shadow: 0 0 10px 3px var(--red-cmyk); /* Red glow on click */
}

.custom-dialog {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  display: none; /* Hiding like Genji */
}

.custom-dialog-content {
  color: var(--ghost-white);
  text-shadow: 1px 1px 1px var(--davys-gray);
  background-image: var(--gradient-rich-black-red-cmyk);
  padding: 20px;
  border-radius: 8px;
  border: 2px solid var(--red-cmyk);
  box-shadow: 0 0 10px 3px var(--red-cmyk);
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.close-dialog {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  color: var(--davys-gray);
  cursor: pointer;
}

.close-dialog:hover {
  color: var(--red-cmyk);
}
